html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    -ms-flex-direction: column;
}

pre {
    margin: 0 !important;
    margin-bottom: 1rem !important;
    padding: 0 !important;
}

.hljs {
    padding: 0.8rem 1.2rem !important;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
}
