{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}Category: {{ term.name }} | {{ config.title }}{% endblock title %}

{% block header %}
<section class="hero">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title">Category: {{ term.name }}</h1>
        </div>
    </div>
</section>
{% endblock header %}

{% block content %}
<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            {% if paginator %}
                {{ macros::list_pages(pages=paginator.pages) }}
                {{ macros::paginate(paginator=paginator) }}
            {% else %}
                {{ macros::list_pages(pages=term.pages) }}
            {% endif %}
        </div>
    </section>
</div>    
{% endblock content %}
