@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex flex-col min-h-screen;
}

header {
    @apply flex items-center justify-between py-2 bg-orange-800 text-orange-200;

    .title {
        @apply px-2;
    }
    
    nav {
        ul {
            @apply inline-flex items-center;
            li {
                @apply px-2 md:px-4;
            }
        }
    }
}

main {
    @apply flex-grow;
}

footer {
    @apply bg-orange-100 text-orange-800;
    p {
        @apply text-center text-xs p-2;
    }
}

.headline {
    @apply text-center py-8 bg-orange-400 text-orange-50;

    .title {
        @apply text-3xl;
    }

    .subtitle {
        @apply text-base;
    }
}

.article {
    @apply container mx-auto;

    > .article-body {
        @apply px-4 py-6;

        p, ul, ol, pre, figure, blockquote, .code-block {
            @apply my-6;
        }

        hr {
            @apply flex mx-auto w-20;
        }

        h1, h2, h3, h4, h5, h6 {
            @apply text-xl mt-4 mb-3;
        }
        h1 { @apply text-3xl; }
        h2 { @apply text-2xl; }

        a { @apply no-underline text-orange-600 }
        a:hover { @apply underline }

        ul, ol {
            @apply list-outside pl-4;
            li {
                @apply ml-6;
            }
        }
        ul { @apply list-disc }
        ol { @apply list-decimal }

        .code-block {
            .title {
                @apply inline-block px-2 py-1 -mb-px rounded-t-sm;
                @apply text-sm font-mono font-bold bg-orange-600 text-orange-50;
            }
            
            pre {
                @apply m-0 px-5 py-3 border-2 border-solid border-slate-300 rounded-b-md rounded-tr-md;
                @apply whitespace-pre-wrap;
            }
        }

        figure {
            @apply text-center;

            img {
                @apply block mx-auto;
            }

            figcaption {
                @apply text-sm;
            }
        }

        blockquote {
            @apply mx-4 px-4 py-2 rounded-sm text-sm;
            @apply bg-orange-50;
            @apply border-l-2 border-orange-800;
        }

        .callout {
            @apply bg-orange-50 px-5 py-3 my-10 rounded relative;
        }
    }

    > .article-footer {
        @apply flex justify-between text-center text-sm;

        .card {
            @apply inline-block p-2;

            a {
                @apply no-underline text-orange-600;
            }
            a:hover {
                @apply underline;
            }
        }
    }
}

.comments {
    @apply container mx-auto mt-12 mb-auto;
}

.entries {
    @apply container mx-auto px-8 py-6;

    a { @apply no-underline text-orange-600; }
    a:hover { @apply underline; }
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold;
}
