{% extends "base.html" %}

{% block nav_brand %}
{% endblock nav_bland %}

{% block header %}
<section class="hero is-light">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title">{{ config.title }}</h1>
        </div>
    </div>
</section>
{% endblock header %}

{% block content %}
<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            {% for page in paginator.pages %}
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <a href="{{ page.permalink | safe }}">
                                <p class="title article-title">{{ page.title }}</p>
                            </a>
                        </div>
                    </div>
                    <div class="content article-body">
                        {{ page.summary | safe }}
                        <nav class="readmore">
                            <a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a>
                        </nav>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="column is-10 is-offset-1">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    {% if paginator.previous %}
                        <a class="button is-primary pagination-previous" href="{{ paginator.previous }}">&laquo; Previous</a>
                    {% else %}
                        <a class="button is-primary pagination-previous" disabled title="This is the first page">&laquo;Previous</a>
                    {% endif %}
                    <ul class="pagination-list">
                        <li>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</li>
                    </ul>
                    {% if paginator.next %}
                        <a class="button is-primary pagination-next" href="{{ paginator.next }}">Next &raquo;</a>
                    {% else %}
                        <a class="button is-primary pagination-next" disabled title="This is the last page">Next &raquo;</a>
                    {% endif %}
                </nav>
            </div>

        </div>
    </section>
</div>
{% endblock content %}
