{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block nav_brand %}
{% endblock nav_bland %}

{% block header %}
<section class="hero">
    <div class="hero-body has-text-centered">
        <div class="container">
            <a href="/">
                <h1 class="title">{{ config.title }}</h1>
            </a>
            {% if config.description %}
            <h2 class="subtitle">{{ config.description }}</h2>
            {% endif %}
        </div>
    </div>
</section>
{% endblock header %}

{% block content %}
<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            {{ macros::list_pages(pages=paginator.pages) }}
            {{ macros::paginate(paginator=paginator) }}
        </div>
    </section>
</div>
{% endblock content %}
