{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block nav_brand %}
{% endblock nav_bland %}

{% block header %}
<section class="hero">
    <div class="hero-body has-text-centered">
        <div class="container">
            <a href="/">
                <h1 class="title">{{ config.title }}</h1>
            </a>
            {% if config.description %}
            <h2 class="subtitle">{{ config.description }}</h2>
            {% endif %}
        </div>
    </div>
</section>
{% endblock header %}

{% block content %}
<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            {{ macros::list_pages(pages=paginator.pages) }}

            <div class="column is-10 is-offset-1">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    {% if paginator.previous %}
                        <a class="button is-primary pagination-previous" href="{{ paginator.previous }}">&laquo; Previous</a>
                    {% else %}
                        <a class="button is-primary pagination-previous" disabled title="This is the first page">&laquo;Previous</a>
                    {% endif %}
                    <ul class="pagination-list">
                        <li>Page {{ paginator.current_index }} of {{ paginator.number_pagers }}</li>
                    </ul>
                    {% if paginator.next %}
                        <a class="button is-primary pagination-next" href="{{ paginator.next }}">Next &raquo;</a>
                    {% else %}
                        <a class="button is-primary pagination-next" disabled title="This is the last page">Next &raquo;</a>
                    {% endif %}
                </nav>
            </div>

        </div>
    </section>
</div>
{% endblock content %}
