{% macro list_pages(pages) %}
    {% for page in pages %}
    <div class="card article">
        <div class="card-content">
            <div class="media">
                <div class="media-content has-text-centered">
                    <a href="{{ page.permalink | safe }}">
                        <p class="title article-title">{{ page.title }}</p>
                    </a>
                    <div class="tags has-addons level-item">
                        <span class="tag is-rounded">
                            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ page.date | date(format="%b %e, %Y") }}
                        </span>
                        {% if page.taxonomies.categories %}
                        <span class="tag is-rounded"">
                            Category:&nbsp;
                            {% for category in page.taxonomies.categories %}
                                {% if not loop.first %},&nbsp;{% endif %}
                                <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                            {% endfor %}
                        </span>
                        {% endif %}
                    </div>
                    {% if page.taxonomies.tags %}
                    <div class="tags level-item">
                        {% for tag in page.taxonomies.tags %}
                            <span class="tag is-link is-light">
                                <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
                            </span>
                        {% endfor %}
                    </div>
                    {% endif %}            
                </div>
            </div>
            <div class="content article-body">
                {{ page.summary | safe }}
                <nav class="readmore">
                    <a itemprop="url" href="{{ page.permalink | safe }}">Read More&nbsp;&raquo;</a>
                </nav>
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro list_pages %}

{% macro paginate(paginator) %}
<div class="column is-10 is-offset-1">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if paginator.previous %}
            <a class="button is-primary is-light pagination-previous" href="{{ paginator.previous }}">&laquo; Previous</a>
        {% else %}
            <a class="button is-primary is-light pagination-previous" disabled title="This is the first page" style="visibility: hidden;">&laquo;Previous</a>
        {% endif %}

        <ul class="pagination-list">
            <li>{{ paginator.current_index }}/{{ paginator.number_pagers }}</li>
        </ul>

        {% if paginator.next %}
            <a class="button is-primary is-light pagination-next" href="{{ paginator.next }}">Next &raquo;</a>
        {% else %}
            <a class="button is-primary is-light pagination-next" disabled title="This is the last page" style="visibility: hidden;">Next &raquo;</a>
        {% endif %}
    </nav>
</div>
{% endmacro paginate %}

{% macro list_taxonomies(terms) %}
    {% if terms %}
    <div class="list box">
        <div class="tags is-centered">
            {% for term in terms %}
            <span class="tag is-link is-light is-medium">
                <a href="{{ term.permalink | safe }}">
                    <span>#{{ term.name }} ({{ term.pages | length }})</span>
                </a>
            </span>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endmacro list_taxonomies %}

{% macro page_header(page) %}
<div class="media">
    <div class="media-content has-text-centered">
        <a href="{{ page.permalink | safe }}">
            <p class="title article-title">{{ page.title }}</p>
        </a>
        <div class="tags has-addons level-item">
            <span class="tag is-rounded">
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ page.date | date(format="%b %e, %Y") }}
            </span>
            {% if page.taxonomies.categories %}
            <span class="tag is-rounded">
                Category:&nbsp;
                {% for category in page.taxonomies.categories %}
                    {% if not loop.first %},&nbsp;{% endif %}
                    <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">{{ category }}</a>
                {% endfor %}
            </span>
            {% endif %}
            <span class="tag is-rounded">
                <a href="https://github.com/ubnt-intrepid/site/edit/master/content/{{ page.relative_path | safe }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Edit
                </a>
            </span>
            <span class="tag is-rounded">
                <a href="https://twitter.com/intent/tweet?url={{ page.permalink }}&text={{ self::page_title() | trim | urlencode }}"
                    target="_blank"
                    title="Tweet">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    Share
                </a>
            </span>
            <span class="tag is-rounded">
                <a href="http://b.hatena.ne.jp/add?mode=confirm&url={{ page.permalink | urlencode }}&t={{ self::page_title() | trim | urlencode }}"
                    target="_blank"
                    title="Bookmark">
                    <i class="fa fa-hatena" aria-hidden="true"></i>
                    Bookmark
                </a>
            </span>
        </div>
        {% if page.taxonomies.tags %}
        <div class="tags level-item">
            {% for tag in page.taxonomies.tags %}
                <span class="tag is-link is-light">
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
                </span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro page_header %}
