{% extends "base.html" %}
{% import "macros.html" as macros %}

{% macro page_title() %}
    {{ page.title }} | {{ config.title }}
{% endmacro page_title %}

{% block title %}{{ self::page_title() }}{% endblock title %}

{% block hero %}{% endblock hero %}

{% block content %}
<main>
    <section class="container">
        <div class="columns is-desktop">
            <div class="column is-10-desktop is-offset-1-desktop">
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class="card article">
                        <div class="card-content">
                            {{ macros::page_header(page=page) }}
                            <div itemprop="articleBody" class="content article-body">
                                {{ page.content | safe }}
                            </div>

                            {% if config.extra.utterances %}
                            <script src="https://utteranc.es/client.js"
                                    repo="{{ config.extra.utterances.repo | safe }}"
                                    issue-term="{{ config.extra.utterances.issue_term | default(value="pathname") }}"
                                    {% if config.extra.utterances.issue_label %}label="{{ config.extra.utterances.issue_label }}"{% endif %}
                                    theme="{{ config.extra.utterances.theme | default(value="github-light") }}"
                                    crossorigin="anonymous"
                                    async>
                            </script>
                            {% endif %}
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </section>
</main>
{% endblock content %}
