name: deploy-to-netlify
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, reopened, synchronize, ready_for_review]
permissions:
  contents: read
  pull-requests: write
  statuses: write
jobs:
  deploy-to-netlify:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: github.event.pull_request.draft != true
    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2
    - name: Next.js cache
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/.next/cache
        key: ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx', '_posts/**/*.md', 'public/**/*') }}
        restore-keys: |
          ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-
    - run: pnpm install --frozen-lockfile
    - run: pnpm run build
    - uses: nwtgck/actions-netlify@v3.0
      with:
        publish-dir: './out'
        production-branch: main
        github-token: ${{ secrets.GITHUB_TOKEN }}
        deploy-message: ${{ github.event.head_commit.message || github.event.pull_request.title }}
        fails-without-credentials: true
      env:
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
